@import '../../styles/variables.scss';

.canvas-area {
  flex: 1;
  background-color: $color-base-bg;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-xl;
  overflow: auto;
  min-width: $canvas-min-width;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}
